*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

a{
    outline: none;
    text-decoration: none;
    color: white;
}

ol,ul{
    list-style: none;
}
.orange-text{
    color: #FF8D41;
}

.container{
    max-width: 1290px;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    padding: 15px;
}

.home-screen{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../assets/videos/images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 50px 80px 80px 80px; */
}

.home-screen .container{
    display: flex;
    flex-direction: column;
    gap: 284px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.nav-links{
    display: flex;
    gap: 24px;
    font-size: 16px;
}

.logout{
    color: white;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 604px;
    width: 100%;

    color: white;
}

.hero-intro{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-intro p{
    font-weight: 600;
    font-size: 18px;
}
.hero-intro h1{
    font-size: 64px;
    font-weight: 700;
}
.hero-intro h1 span{
    color: orange;
}

.hero-description{
    font-size: 16px;
    font-weight: 500;
}
.buttons{
    display: flex;
    gap: 8px;
}
.buttons button{
    color: white;
    border-radius: 25px;
    border: 1px solid white;
}
#BookNow{
    height: 44px;
    width: 119px;
    background-color: #FF8D41;
    /* padding: 12px 12px 24px 24px  ; */
}
#ExploreMore{
    height: 44px;
    width: 141px;
    background-color: rgba(0, 0, 0, 0);

}

.section-title{
    max-width: 159px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;

    font-size: 16px;
    font-weight: 600;
    color: #616161;

}

.section-title::after, .section-title::before{
    content: "";
    flex: 1;
    height: 1px;
    background-color: #616161;
}

.about-data{
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 5vh;
}

.about-card{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 20px;

}
.about-card.even{
    flex-direction: row-reverse;
}
.about-card-image img{
    max-width: 492px;
    width: 100%;
    padding: 2vh;
    border-radius: 34px;
    border: 1px solid #E0E0E0;
}

.about-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-card-title{
    font-size: 42px;
    font-weight: 700;
    color: #424242;
}

.about-card-description{
    font-size: 16px;
}
.about-card-description .subpara{
    color: #9E9E9E;
}
.read-more-button{
    padding: 12px 24px;
    color: #FF8D41;
    border: 1px solid orange;
    background-color: white;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
}




.stats-screen{
    background-color: #FF8D41;
    color: white;
}
.stats-screen .container{
    display: flex;
    justify-content: space-between;
    
}
.stats-screen .container .stat{

}
.stats-screen .container .value{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    
}
.stats-screen .container .stat-title{
    font-size: 14px;
    font-weight: 500;
}

.head-data{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #424242;
    padding-bottom: 100px;
}

.rooms-card-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.data .title{
    font-size: 16px;
    font-weight: 500;
    color: #424242;
}
.data .price{
    font-size: 14px;
    font-weight: 400;
    color: #757575;


}


.services-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:48px;
    

}

.services-card{
    padding: 64px 32px;
    max-width: 350px;
    max-height: 258px;
    border: 1px solid #eeeeee;
    background-color: white;
}
.services-card.orange{
    background-color: #FF8D41;
}

.services-card .icon{
    text-align: center;
}
.services-card .details{
    text-align: center;
}

.services-card .details .details-title{
    font-size: 20;
    font-weight: 700;
    color: #424242
}
.services-card .details .details-description{
    font-size: 12px;
    font-weight: 500;
    color: #9E9E9E;
}

.reviews-card-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.review-card{
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 298px;
    max-height: 218px;
    padding: 16px 24px;
}

.review-card .review{
    display: flex;
    flex-direction: column;
    gap: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
}
.review-card .identity .name{
    font-size: 16px;
    font-weight: 600;
    color: #424242;
}

.review-card .identity .mail{
    font-size: 12px;
    font-weight: 500;
    color: #9E9E9E;
}





footer .container{
    display: flex;
    justify-content: space-between;
}
footer .container .address{
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 280px;
    font-size: 14px;
    font-weight: 500;
    color: #9E9E9E;
}
footer .container .address .footer-logo{
    color: #424242;
    font-size: 24px;
    font-weight: 700;
}
footer .container .quick-links p{
    font-size: 16px;
    font-weight: 600;
    color: #424242;

}
.quick-links ul li a{
    font-size: 14px;
    font-weight: 500;
    color: #9E9E9E;
}