*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

a{
    outline: none;
    text-decoration: none;
    color: white;
}

ol,ul{
    list-style: none;
}

.home-screen{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../assets/videos/images/background.png');
    background-size: cover;
    /* background-position: center;
    background-repeat: no-repeat; */
    padding: 50px 80px 80px 80px;
}

.home-screen .container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 284px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 29px;
}

.logo span{
    font-size: 24;
    font-weight: 700;
}
.just{
    color: white;
}
.stay{
    color: #FF8D41;
}

.nav-links{
    display: flex;
    gap: 24px;
    font-size: 16px;
}

.logout{
    color: white;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 604px;
    gap: 32;
    color: white;
}

.hero-intro{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hero-intro p{
    font-weight: 600;
    font-size: 18px;
}
.hero-intro h1{
    font-size: 64px;
    font-weight: 700;
}
.hero-intro h1 span{
    color: orange;
}

.hero-description{
    font-size: 16px;
    font-weight: 500;
}
.buttons{
    display: flex;
    gap: 8px;
}
#BookNow{
    height: 44px;
    width: 119px;
    background-color: #FF8D41;
    border-radius: 25%;
    padding: 12px 12px 24px 24px  ;
}
#ExploreMore{
    height: 44px;
    width: 141px;
    border-radius: 30%;
    background-color: rgba(0, 0, 0, 0);

}